* text=auto

# Files
*.css  text
*.htm  text
*.html text
*.inc  text
*.ini  text
*.js   text
*.php  text
*.txt  text
*.xml  text
.htaccess text

# Images
*.7z   binary
*.fla  binary
*.flv  binary
*.ico  binary
*.jpg  binary
*.jpeg binary
*.gif  binary
*.gz   binary
*.mov  binary
*.mp3  binary
*.mp4  binary
*.png  binary
*.swf  binary
*.ttf  binary
*.zip  binary

# Documents
*.doc  diff=astextplain
*.DOC  diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF  diff=astextplain
*.rtf  diff=astextplain
*.RTF  diff=astextplain
